body {
    text-align: center;
    background: linear-gradient(0deg, white, grey)
}

#gamecanvas {
    width: 800px;
    height: 600px;
    text-align: center;
    background-color: lightblue;
    border: medium solid black;
}