body {
    text-align: center;
    background: linear-gradient(0deg, white, grey)
}

#gamecanvas {
    width: 800px;
    height: 600px;
    text-align: center;
    background-color: rgb(52, 206, 224);
    border: medium solid black;
}

#backgroundimage {
    display: none;
}